{{ template "theme/partials/head.html" . }}
    <body>
        {{ template "theme/partials/nav.html" . }}
        <div class="container">
            <div class="jumbotron">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <p>My name is Nicholas, I am a software developer.  Reach out to be on <a href ="http://twitter.com/taion809">twitter</a>, <a href="https://github.com/taion809">github</a>, or my <a href="{{ .Site.BaseUrl }}#contact">contact form</a>.</p>
                </div>
              </div>
          </div>
          <div class="content container">
            <ul class="posts">
                {{ range .Data.Pages }}
                    <li>
                    <article class="post">
                        <header>
                          <h2><a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a><small> | <span class="post-meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</span></small></h2>
                        </header>
                        <br />
                        <p>
                        {{ .Summary }}
                        </p>
                    </article>
                    </li>
                {{ end }}
            </ul>
        </div>
        {{ template "theme/partials/footer.html" . }}
    </body>
    {{ template "theme/partials/google_analytics.html" . }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>
